

.phpcoading{
		width:900px;
		margin:0 auto;
		background:<?php echo $bgcolor;?>;
		padding:20px;
		min-height:400px;
		font-family:<?php echo $fonts;?>;
}
.headeroption, .footeroption{
	background:green;
	color:#fff;
	text-align:center;
}
.headeroption h3,.footeroption h3{
	margin:0;
}

.main-content{
	background:#ddd;
	color:#000;
	min-height:400px;
	padding:20px;
	text-align:left;
}